name: Publish package to npm
on:
  push:
    tags:
      - "v*"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.15

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v5
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      # Publish to npm
      - name: Publish to npm
        run: npm publish --access public
